html.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a8a29e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78716c;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #57534e;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #78716c;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

